<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>dj Tillu</h1>
        <h1>duvada jaganath</h1>
        <h2>
            <a href="{% url 'aa:meghna' %}">go to meghna</a>
        </h2>
        <h2>
            <a href="{% url 'aa:pushpa' %}">pushpa page</a>
        </h2>
    </center>
</body>
</html>